.label {
	-fx-font-weight: bold;

}


.player {
	-fx-padding: 5.0px;
    -fx-border-color: black;
    -fx-border-width: 2.0px;
}

.card {
  -fx-font-size: 18px;
	-fx-padding: 2.0px;
    -fx-border-color: black;
    -fx-border-width: 1.0px;
	-fx-background-color: lemonchiffon;
    -fx-min-width: 50;
    -fx-max-width: 500;
    -fx-min-height: 80;
    -fx-max-height: 800;
}
.button{
	-fx-font-size: 22px;
	-fx-font-weight: bold;
	
	
	
	-fx-label-padding: 2 ;
	-fx-background-radius: 16;
	
	
}
#hbox-1 {
	-fx-border-color: Black;
    -fx-border-width: 2px;
	-fx-spacing: auto;
	-fx-padding: 5.0px;
}
.grdpne{
	-fx-background-color: Yellow;
    
    
    -fx-padding: 10;
    -fx-hgap: 100;
}